* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container {
    border: 1px solid rgb(0, 0, 0);
    height: 100vh;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.navbar {
    display: flex;
    height: 60px;
    padding: 20px;
}

.navbar__log {
    height: 20px;
    width: 20px;
    order: 0;
    flex-grow: 0;

}

.navbar__title {
    font-weight: 600;
    font-size: 18px;
    color: #2B2F39;
    line-height: 20px;
    order: 1;
    flex-grow: 1;
    margin-left: 8px;
}


.searchbar {
    width: 340px;
    height: 48px;
    border-radius: 6px;
    padding: 16px;
    padding-bottom: 42px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.0025em;
    background-color: white;
    margin-bottom: 16px;
}

.resultContainer {
    width: 345px;
    max-height: 482px;
    overflow-y: scroll;
    padding: 0;
    background-color: transparent;
}

.resultContainer::-webkit-scrollbar {
    width: 0.1em;

}

/* To hind the numbers of result from top */
.gsc-result-info {
    display: none;
}

/* To remove the upper padding and border of search result */
.gsc-above-wrapper-area {
    padding: 0 !important;
    border: none !important;
}

.gsc-control-cse {
    font-family: 'Barlow' !important;
}

.parent-container {
    background-color: transparent !important;
}

.result-card {

    border-radius: 6px;
    height: 90px !important;
    width: 340px !important;
    display: flex !important;
    padding: 8px !important;
    margin-bottom: 8px !important;
    margin-top: 8px !important;
    cursor: pointer;
}

.thumnail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    width: 132px;
    height: 74px;
    background: #1458D6;
    border-radius: 6px;
}

.result-card__right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 175px;
    height: 74px;
    margin-left: 16px;
    font-family: 'Barlow', sans-serif;
}

.result-card__title {
    width: 168px;
    height: 32px;
    font-family: 'Barlow' !important;
    font-style: normal !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0025em;
    color: #2B2F39;
    margin-bottom: 8px;
}

.result-card__subtitle {
    width: 168px;
    height: 10px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    letter-spacing: 0.0025em;
    color: #9499A6;
    margin-bottom: 12px;
}

.result-card__innercontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 175px;
    height: 10px;
    justify-content: space-between;
    margin-bottom: 8px;
}

/* To remove default padding  */
.gsc-control-cse {
    padding: 0 !important;
}

.gsc-results {
    width: 100% !important;
    padding: 0 !important;
}

.gsc-search-button .gsc-search-button-v2 {
    cursor: pointer;
}

/* To center allign the cards */
.gsc-tabData.gsc-tabdActive {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}