* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.container {
    width: 360px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
    overflow-y: auto;
}

.navbar {
    display: flex;
    height: 60px;
    padding: 20px;
    align-items: flex-start;
    width: 100%;
}

.navbar__log {
    height: 20px;
    width: 20px;
    order: 0;
    flex-grow: 0;
}

.navbar__title {
    font-weight: 600;
    font-size: 18px;
    color: #2B2F39;
    line-height: 20px;
    order: 1;
    flex-grow: 1;
    margin-left: 8px;
}


.searchbar {
    width: 340px;
    height: 48px;
    border-radius: 6px;
    padding: 16px;
    padding-bottom: 42px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.0025em;
    background-color: white;
    margin-bottom: 16px;
}

.resultContainer {
    width: 345px;
    max-height: 482px;
    padding: 0;
    background-color: transparent;
}

.resultContainer::-webkit-scrollbar {
    width: 0.1em;

}

/* To hind the numbers of result from top */
.gsc-result-info {
    display: none;
}

/* To remove the upper padding and border of search result */
.gsc-above-wrapper-area {
    padding: 0 !important;
    border: none !important;
}

.gsc-control-cse {
    font-family: 'Barlow' !important;
}

.parent-container {
    background-color: #FAFAFA !important;
}

.result-card {
    background-color: white !important;
    border-radius: 6px;
    height: 90px !important;
    width: 340px !important;
    display: flex !important;
    padding: 8px !important;
    margin-bottom: 8px !important;
    cursor: pointer;
}

.thumnail {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    width: 132px;
    height: 74px;
    background: #1458D6;
    border-radius: 6px;
}

.thumnail>img {
    border-radius: 6px;

}

.result-card__right-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 175px;
    height: 74px;
    margin-left: 16px;
    font-family: 'Barlow', sans-serif;
}

.result-card__title {
    width: 168px;
    font-family: 'Barlow' !important;
    font-style: normal !important;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.0025em;
    color: #2B2F39;
    margin-bottom: 8px;
}

.result-card__subtitle {
    width: 168px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.0025em;
    color: #9499A6;
    margin-bottom: 9px;
}

.result-card__innercontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    width: 175px;
    justify-content: space-between;
}

/* To remove default padding  */
.gsc-control-cse {
    padding: 0 !important;
    border: 0 !important;
}

.gsc-results-wrapper-visible {
    padding: 0px !important;
}

.gsc-results {
    width: 100% !important;
    padding: 0 !important;
    background-color: #FAFAFA !important;
    border: none !important;
}

.gsc-result {
    background-color: #ffffff !important;
    border-radius: 6px;
}

.gsc-webResult {
    border: none !important;
    zoom: 0 !important;
}

.gsc-search-button .gsc-search-button-v2 {
    cursor: pointer;
}

/* To center allign the cards */
.gsc-tabData .gsc-tabdActive {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/* search on google button */
.gcsc-more-maybe-branding-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 10px 16px;
    background: #FFFFFF;
    border-radius: 33px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}

.gsc-resultsbox-visible {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
}

.gsc-cursor {
    display: flex !important;
    align-items: flex-start !important;
    padding: 16px 28px;
    width: 342px;
    gap: 6rem;
    background: #ffffff;
    border-radius: 6px;
    justify-content: center;
}

.gsc-cursor-page {
    display: none !important;
}

.gsc-results .gsc-cursor-box .gsc-cursor-page {
    margin: 0px !important;
}

.navBtn {
    margin-left: 6px !important;
    margin-right: 6px !important;
    display: block !important;
    font-family: 'Barlow' !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #2B2F39;
    text-decoration: none !important;
}

.curr-navBtn {
    display: block !important;
    font-family: 'Barlow' !important;
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    color: #5D6067 !important;
    text-decoration: none !important;
}

.arrowcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0px;
    width: 48px;
    height: 17px;
}

#modalContainer {
    position: fixed;
    width: 367px;
    height: 100%;
    display: none;
    transition: all 0.3s linear;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #202124;
    z-index: 9999;
}

.modal__img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    position: relative;
    cursor: pointer;

}

.ytlogo {
    top: 50;
    left: 50;
    position: absolute;
}

.modal-title {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 8px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    width: 312px;
    cursor: pointer;

}

.modal-info-container {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;

}

.modal-subinfo {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 11px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    width: 206px;
    color: #9499A6;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

#channelName {
    margin-left: 4px;
}

#modalButton {
    position: absolute;
    bottom: 0;
    padding: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    gap: 10px;
    width: 360px;
    height: 66px;
}

.primary-btn {
    padding: 12px 26px;
    width: 80px;
    height: 34px;
    background: #2A8CFF;
    border-radius: 20px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.secondary-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 26px;
    width: 87px;
    height: 34px;
    background: #5D6067;
    border-radius: 20px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: white;
    cursor: pointer;
}

.show {
    display: flex !important;
}