* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FAFAFA;
    font-family: 'Barlow', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.container {
    border: 1px solid rgb(0, 0, 0);
    height: 757px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    display: flex;
    height: 60px;
    padding: 20px;
}

.navbar__log {
    height: 20px;
    width: 20px;
    order: 0;
    flex-grow: 0;

}

.navbar__title {
    font-weight: 600;
    font-size: 18px;
    color: #2B2F39;
    line-height: 20px;
    order: 1;
    flex-grow: 1;
    margin-left: 8px;
}


.searchbar {
    width: 340px;
    height: 48px;
    border-radius: 6px;
    padding: 16px;
    padding-bottom: 42px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.0025em;
    background-color: white;
    border: 1px solid red;
}

.resultContainer {
    width: 340;
}

.gsc-result-info {
    display: none;
}

.gsc-above-wrapper-area {
    padding: 0 !important;
    border: none !important;
}

.parent-container {
    background-color: #DDDDDD !important;
}

.result-container {
    background-color: rgb(195, 169, 169) !important;
    border: 1px solid red;
}

.gsc-control-cse {
    padding: 0 !important;
}